################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdapterDesignPattern/.vs/AdapterDesignPattern/DesignTimeBuild
/CommandDesignPattern/.vs/CommandDesignPattern/v17/.suo
